@model Definer.Web.Models.UsersView

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="content">
        <div class="form-container">
            <div class="form">
                <h2>join up</h2>
                <form action="/register" method="post" autocomplete="off">
                    @Html.AntiForgeryToken()
                    <div>
                        <label for="Name">username</label>
                        @Html.TextBoxFor(m => m.Name)
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div>
                        <label for="Email">e-mail</label>
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div>
                        <label for="Password">password</label>
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div>
                        <label for="ConfirmPassword">confirm password</label>
                        @Html.PasswordFor(m => m.ConfirmPassword)
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                    <div>
                        <label class="eula">
                            @Html.CheckBoxFor(m => m.EULA)
                            <a href="">read this or else,</a>
                            m'kay?
                        </label>
                        @Html.ValidationMessageFor(m => m.EULA)
                    </div>
                    <div>
                        <button type="submit">line up to the back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
