@model definer.Entity.Users.Users

@if (Model.WallEntries.data.Count() > 0)
{
    @Html.Partial("/Views/Helper/AuthorWall_Pager.cshtml", Model.WallEntries.filter.pager)
    foreach (var item in Model.WallEntries.data)
    {
        string def = "def" + item.ID;
        <ul>
            <li class="wall-li">
                <div class="body">@Html.Raw(@CustomTagHelpers.FormatEntry(item.Body))</div>
                @if (item.Body.Length > 599)
                {
                    <span class="read-more">
                        <a class="read-more-link">read more...</a>
                    </span>
                }
                <footer>
                    <div class="info">
                        <div class="author">
                            <a href="/u/@CustomTagHelpers.FriendlyURLTitle(item.Author)">@item.Author</a>
                        </div>
                        <div class="link">
                            <a href="/u/wall/@item.ID">
                                <small>
                                    @item.Date.ToString("dd.MM.yyyy HH:mm") @if (item.EditDate != null)
                                    {<text>~ </text>@item.EditDate?.ToString("dd.MM.yyyy HH:mm")}
                                </small>
                            </a>
                            @if (Model.CurrentUser != null)
                            {
                                @if (item.SenderID == Model.CurrentUser.ID)
                                {
                                    <a href="/u/edit/wall/@item.ID"><small>edit</small></a>
                                }
                            }
                        </div>
                    </div>
                </footer>
            </li>
        </ul>
    }
    @Html.Partial("/Views/Helper/AuthorWall_Pager.cshtml", Model.WallEntries.filter.pager)
}
else
{
    <ul>
        <li class="wall-li">
            <h5>author has no wall entries yet</h5>
        </li>
    </ul>
}


<script>
    $('#wpages').on('change', function () {
        var value = $(this).val();
        authorpage.filterWall(value);
    });
    $(".read-more-link").on('click', function () {
        var inner = $(this).text();
        $(this).text(inner == "read less" ? "read more" : "read less");
        $(this).parent().siblings(".body").toggleClass("more");
    });
</script>
