@model definer.Entity.Users.Users

@{
    var User = (definer.Entity.Users.Users)ViewBag.User;
    ViewData["Title"] = Model.Username + " - definer";
}

@Html.Hidden("author", Model.Username)
@Html.Hidden("authorID", Model.ID)
@Html.Hidden("tab", "entries")
<div class="view">
    <h1><a href="/u/@CustomTagHelpers.FriendlyURLTitle(Model.Username)">@Model.Username</a></h1>
    <div class="user-info">
        <div class="stats">
            <ul>
                <li>@Model.EntryCount entries</li>
                <li>@Model.FollowerCount followers</li>
                <li>@Model.FollowingCount following</li>
                @if (Model.Social.Twitter != "" && Model.Social.Twitter != null)
                {
                    <li class="social"><a class="twitter" href="@Model.Social.Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
                }
                @if (Model.Social.Instagram != "" && Model.Social.Instagram != null)
                {
                    <li class="social"><a class="instagram" href="@Model.Social.Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
                }
                @if (Model.Social.Facebook != "" && Model.Social.Facebook != null)
                {
                    <li class="social"><a class="facebook" href="@Model.Social.Facebook" target="_blank"><i class="fab fa-facebook"></i></a></li>
                }
                @if (Model.Social.LinkedIn != "" && Model.Social.LinkedIn != null)
                {
                    <li class="social"><a class="linkedin" href="@Model.Social.LinkedIn" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                }
                @if (Model.Social.YouTube != "" && Model.Social.YouTube != null)
                {
                    <li class="social"><a class="youtube" href="@Model.Social.YouTube" target="_blank"><i class="fab fa-youtube"></i></a></li>
                }
                @if (Model.Social.Spotify != "" && Model.Social.Spotify != null)
                {
                    <li class="social"><a class="spotify" href="@Model.Social.Spotify" target="_blank"><i class="fab fa-spotify"></i></a></li>
                }
                @if (Model.Social.Letterboxd != "" && Model.Social.Letterboxd != null)
                {
                    <li class="social"><a class="letterboxd" href="@Model.Social.Letterboxd" target="_blank"><img src="~/Content/img/icons/letterboxd-decal-dots-pos-rgb.svg" /></a></li>
                }
                @if (Model.Social.GitHub != "" && Model.Social.GitHub != null)
                {
                    <li class="social"><a class="github" href="@Model.Social.GitHub" target="_blank"><i class="fab fa-github"></i></a></li>
                }
            </ul>
        </div>
        <div class="bio">
            <p id="authorBio">@Model.Bio</p>
            @if (Model.ID == User.ID)
            {
                <a href="javascript:void(0)" id="bioDialog">update bio</a>
                @Html.Partial("/Views/Author/ManageBio.cshtml")
            }
        </div>
        @if (Model.ID != User.ID)
        {
            <div class="manage">
                <ul>
                    <li><a class="message" href="javascript:void(0)" id="sendDM">message</a></li>
                    @if (Model.Interactions.Follow != null)
                    {
                        <li><a class="follow active" href="javascript:void(0)" id="followAuthor">following</a></li>
                    }
                    else
                    {
                        <li><a class="follow" href="javascript:void(0)" id="followAuthor">follow</a></li>
                    }
                    @if (Model.Interactions.Blocked != null)
                    {
                        <li><a class="ignore active" href="javascript:void(0)" id="ignoreAuthor">ignored</a></li>
                    }
                    else
                    {
                        <li><a class="ignore" href="javascript:void(0)" id="ignoreAuthor">ignore</a></li>
                    }
                    <li><a class="report" href="#">report</a></li>
                </ul>
            </div>
        }
    </div>
    <div class="user-entries">
        <div class="user-tabs">
            <ul>
                <li><a href="javascript:void(0);" id="userEntries">entries</a></li>
                <li><a href="javascript:void(0);" id="userFavourites">favourites</a></li>
                <li><a href="javascript:void(0);" id="userMedia">media</a></li>
            </ul>
        </div>
        <div class="user-rss" id="rss-entries">
        </div>
    </div>
</div>
<div class="author-wall">
    <h4>@Model.Username's wall</h4>
    <div class="wall-editor">
        <fieldset class="wall-editor">
            <span class="field-validation-error" data-valmsg-for="Body" data-valmsg-replace="true"></span>
            <textarea id="wallBody" name="Body" placeholder="say something about @Model.Username.."></textarea>
            <div class="process">
                <button type="button" id="saveWall">save</button>
            </div>
        </fieldset>
    </div>
    <div class="wall-entries" id="wallEntries">
    </div>
</div>



@section Js {
    <script>
        $(document).ready(
            function () {
                authorpage.fill();
                authorpage.fillWall();
            },
            $('#userEntries').on('click', function () {
                $('#tab').val("entries");
                authorpage.fill();
            }),
            $('#userFavourites').on('click', function () {
                $('#tab').val("favourites");
                authorpage.fillFavourites();
            }),
            $('#followAuthor').on('click', function () {
                interactions.setfollowstate($('#authorID').val());
            }),
            $('#ignoreAuthor').on('click', function () {
                interactions.setblockstate($('#authorID').val());
            }),
            $('#bioDialog').on('click', function () {
                $.ajax({
                    url: "/u/getbio",
                    method: "get",
                    success: function (data) {
                        $("#manageBio").toggle();
                        if (data != undefined || data != null) {
                            $('#bio').val(data);
                        }
                    }
                });
            }),
            $('#saveBio').on('click', function () {
                var text = $('#bio').val();
                var data = { bio: text }
                $.ajax({
                    url: "/u/managebio",
                    data: data,
                    success: function (data) {
                        if (data != undefined || data != null) {
                            $('#authorBio').text(data);
                            $("#manageBio").toggle();
                        }
                    }
                });
            }),
            $('#saveWall').on('click', function () {
                var text = $('#wallBody').val();
                var user = $("#authorID").val();
                var data = { Body: text }
                $.ajax({
                    url: "/u/manageWall/" + user,
                    data: data,
                    success: function (data) {
                        if (data != undefined || data != null) {
                            authorpage.fillWall();
                            $('#wallBody').val('');
                        }
                    }
                });
            }),
            $('#sendDM').on('click', function () {
                $("#dm-modal").toggleClass("active");
            }),
            $('#closeDM').on('click', function () {
                $("#dm-modal").toggleClass("active");
            }),
            $('#createDM').on('click', function () {
                var text = $('#dmBody').val();
                var ID = $('#authorID').val();
                var data = { dmBody: text }
                $.ajax({
                    url: "/m/create/" + ID,
                    data: data,
                    success: function (data) {
                        var link = "/m/" + data;
                        if (data != undefined || data != null) {
                            window.location = link;
                        }
                    }
                });
            }),
        );
    </script>
}