@model definer.Entity.Users.Users

@{
    var User = (definer.Entity.Users.Users)ViewBag.User;
    ViewData["Title"] = Model.Username + " - definer";
}

@Html.Hidden("author", Model.Username)
@Html.Hidden("authorID", Model.ID)
@Html.Hidden("tab", "entries")
<div class="view">
    <h1><a href="/u/@CustomTagHelpers.FriendlyURLTitle(Model.Username)">@Model.Username</a></h1>
    <div class="user-info">
        <div class="stats">
            <ul>
                <li>@Model.EntryCount entries</li>
                <li>@Model.FollowerCount followers</li>
                <li>@Model.FollowingCount following</li>
                @if (Model.Social.Twitter != "" && Model.Social.Twitter != null)
                {
                    <li class="social"><a class="twitter" href="@Model.Social.Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
                }
                @if (Model.Social.Instagram != "" && Model.Social.Instagram != null)
                {
                    <li class="social"><a class="instagram" href="@Model.Social.Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
                }
                @if (Model.Social.Facebook != "" && Model.Social.Facebook != null)
                {
                    <li class="social"><a class="facebook" href="@Model.Social.Facebook" target="_blank"><i class="fab fa-facebook"></i></a></li>
                }
                @if (Model.Social.LinkedIn != "" && Model.Social.LinkedIn != null)
                {
                    <li class="social"><a class="linkedin" href="@Model.Social.LinkedIn" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                }
                @if (Model.Social.YouTube != "" && Model.Social.YouTube != null)
                {
                    <li class="social"><a class="youtube" href="@Model.Social.YouTube" target="_blank"><i class="fab fa-youtube"></i></a></li>
                }
                @if (Model.Social.Spotify != "" && Model.Social.Spotify != null)
                {
                    <li class="social"><a class="spotify" href="@Model.Social.Spotify" target="_blank"><i class="fab fa-spotify"></i></a></li>
                }
                @if (Model.Social.Letterboxd != "" && Model.Social.Letterboxd != null)
                {
                    <li class="social"><a class="letterboxd" href="@Model.Social.Letterboxd" target="_blank"><img src="~/Content/img/icons/letterboxd-decal-dots-pos-rgb.svg" /></a></li>
                }
                @if (Model.Social.GitHub != "" && Model.Social.GitHub != null)
                {
                    <li class="social"><a class="github" href="@Model.Social.GitHub" target="_blank"><i class="fab fa-github"></i></a></li>
                }
            </ul>
        </div>
        <div class="bio">
            <p>this is my bio oh i'm so random lulz</p>
        </div>
        @if (Model.ID != User.ID)
        {
            <div class="manage">
                <ul>
                    <li><a class="message" href="#">message</a></li>
                    @if (Model.Interactions.Follow != null)
                    {
                        <li><a class="follow active" href="javascript:void(0)" id="followAuthor">following</a></li>
                    }
                    else
                    {
                        <li><a class="follow" href="javascript:void(0)" id="followAuthor">follow</a></li>
                    }
                    @if (Model.Interactions.Blocked != null)
                    {
                        <li><a class="ignore active" href="javascript:void(0)" id="ignoreAuthor">ignored</a></li>
                    }
                    else
                    {
                        <li><a class="ignore" href="javascript:void(0)" id="ignoreAuthor">ignore</a></li>
                    }
                    <li><a class="report" href="#">report</a></li>
                </ul>
            </div>
        }
    </div>
    <div class="user-entries">
        <div class="user-tabs">
            <ul>
                <li><a href="javascript:void(0);" id="userEntries">entries</a></li>
                <li><a href="javascript:void(0);" id="userFavourites">favourites</a></li>
                <li><a href="javascript:void(0);" id="userMedia">media</a></li>
            </ul>
        </div>
        <div class="user-rss" id="rss-entries">
        </div>
    </div>
</div>

@section Js {
    <script>
        $(document).ready(
            function () {
                authorpage.fill();
            },
            $('#userEntries').on('click', function () {
                $('#tab').val("entries");
                authorpage.fill();
            }),
            $('#userFavourites').on('click', function () {
                $('#tab').val("favourites");
                authorpage.fillFavourites();
            }),
            $('#followAuthor').on('click', function () {
                interactions.setfollowstate($('#authorID').val());
            }),
            $('#ignoreAuthor').on('click', function () {
                interactions.setblockstate($('#authorID').val());
            }),
        );
    </script>
}