@model definer.Entity.Users.SocialJunction

@{
    ViewData["Title"] = "social - definer";
}

<div class="view">
    <h1><a href="/settings/social">settings</a></h1>
    <div class="settings">
        <div class="settings-tabs">
            <ul>
                <li><a href="/settings/prefs">preferences</a></li>
                <li class="active"><a href="/settings/social">social</a></li>
                <li><a href="/settings/account">account</a></li>
                <li><a href="/settings/blocked">blocked</a></li>
                <li><a href="/settings/archive">archive</a></li>
            </ul>
        </div>
        <div class="preferences">
            <form action="/settings/social" autocomplete="off" method="post" class="prefs-form">
                <fieldset>
                    <div class="row">
                        <div class="label">@Html.LabelFor(m => m.Twitter)</div>
                        <div class="input">@Html.EditorFor(m => m.Twitter, new { htmlAttributes = new { placeholder = "https://" } })</div>
                    </div>
                    <div class="row">
                        <div class="label"> @Html.LabelFor(m => m.Instagram)</div>
                        <div class="input">@Html.EditorFor(m => m.Instagram, new { htmlAttributes = new { placeholder = "https://" } })</div>
                    </div>
                    <div class="row">
                        <div class="label">@Html.LabelFor(m => m.Facebook)</div>
                        <div class="input">@Html.EditorFor(m => m.Facebook, new { htmlAttributes = new { placeholder = "https://" } })</div>
                    </div>
                    <div class="row">
                        <div class="label">@Html.LabelFor(m => m.LinkedIn)</div>
                        <div class="input">@Html.EditorFor(m => m.LinkedIn, new { htmlAttributes = new { placeholder = "https://" } })</div>
                    </div>
                    <div class="row">
                        <div class="label">@Html.LabelFor(m => m.YouTube)</div>
                        <div class="input">@Html.EditorFor(m => m.YouTube, new { htmlAttributes = new { placeholder = "https://" } })</div>
                    </div>
                    <div class="row">
                        <div class="label">@Html.LabelFor(m => m.Spotify)</div>
                        <div class="input">@Html.EditorFor(m => m.Spotify, new { htmlAttributes = new { placeholder = "https://" } })</div>
                    </div>
                    <div class="row">
                        <div class="label">@Html.LabelFor(m => m.Letterboxd)</div>
                        <div class="input">@Html.EditorFor(m => m.Letterboxd, new { htmlAttributes = new { placeholder = "https://" } })</div>
                    </div>
                    <div class="row">
                        <div class="label">@Html.LabelFor(m => m.GitHub)</div>
                        <div class="input">@Html.EditorFor(m => m.GitHub, new { htmlAttributes = new { placeholder = "https://" } })</div>
                    </div>
                    <div class="row">
                        <button type="submit">save</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>