@model definer.Entity.Threads.Entry

@{
    ViewData["Title"] = "EditEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="thread">
    <h1><a href="/@CustomTagHelpers.FriendlyURLTitle(@Model.Title)-@Model.ThreadID">@Model.Title</a></h1>
    <div class="entry-editor">
        <form action="/edit/entry" method="post" autocomplete="off">
            @Html.Hidden("ID", @Model.ID)
            @Html.Hidden("ThreadID", @Model.ThreadID)
            @Html.Hidden("Date", @Model.Date)
            @Html.Hidden("EditDate", @Model.EditDate)
            <fieldset class="text-editor">
                <textarea id="Body" name="Body">@Model.Body</textarea>
                <div class="process">
                    <button type="submit">submit</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>