@model definer.Entity.Threads.Entry

@{
    ViewData["Title"] = Model.Title + " - definer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="view">
    <h1><a href="/@CustomTagHelpers.FriendlyURLTitle(@Model.Title)-@Model.ThreadID">@Model.Title</a></h1>
    <div class="entry-editor">
        <form action="/edit/entry" method="post" autocomplete="off">
            @Html.Hidden("ID", Model.ID)
            @Html.Hidden("ThreadID", Model.ThreadID)
            @Html.Hidden("Date", Model.Date)
            @Html.Hidden("EditDate", Model.EditDate)
            @Html.Hidden("Title", Model.Title)
            <fieldset class="text-editor">
                <span class="field-validation-error" data-valmsg-for="Body" data-valmsg-replace="true"></span>
                <div class="functions">
                    <button type="button" id="buser">user</button>
                    <button type="button" id="bentry">entry</button>
                    <button type="button" id="bthread">thread</button>
                    <button type="button" id="bspoiler">spoiler</button>
                    <button type="button" id="blink">link</button>
                </div>
                @Html.TextAreaFor(m => m.Body, new { @placeholder = "say something about \"" + Model.Title + "\"" })
                <div class="process">
                    <button type="submit">submit</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<script>
    const buser = document.getElementById("buser");
    const bentry = document.getElementById("bentry");
    const bthread = document.getElementById("bthread");
    const bspoiler = document.getElementById("bspoiler");
    const blink = document.getElementById("blink");
    buser.addEventListener("click", textEditor.checkSelection);
    bentry.addEventListener("click", textEditor.checkSelection);
    bthread.addEventListener("click", textEditor.checkSelection);
    bspoiler.addEventListener("click", textEditor.checkSelection);
    blink.addEventListener("click", textEditor.checkSelection);
</script>