@model definer.Entity.Threads.Entry

@{
    var User = (definer.Entity.Users.Users)ViewBag.User;
    ViewData["Title"] = Model.Title + " - definer";
    string def = "def" + Model.ID;
}
<div class="view">
    <h1><a href="/@CustomTagHelpers.FriendlyURLTitle(Model.Title)-@Model.ThreadID">@Model.Title</a></h1>
    <div class="entries">
        <ul>
            <li>
                <div class="body">@Html.Raw(@CustomTagHelpers.FormatEntry(Model.Body))</div>
                <footer>
                    <div class="feedback" id="@def">
                        @if (User != null)
                        {
                            if (Model.UserID != User.ID)
                            {
                                if (Model.Attributes != null)
                                {
                                    if (Model.Attributes.Vote.HasValue)
                                    {
                                        if (Model.Attributes.Vote.Value)
                                        {
                                            <a onclick="entryAttribute.voteUP(@Model.ID)" class="upvoted active"><i class="fas fa-chevron-up"></i></a>
                                            if (Model.Upvotes > 0)
                                            {
                                                <small class="upCount">@Model.Upvotes</small>
                                            }
                                            else
                                            {
                                                <small class="upCount"></small>
                                            }
                                            <a onclick="entryAttribute.voteDOWN(@Model.ID)" class="downvoted"><i class="fas fa-chevron-down"></i></a>
                                            if (Model.Downvotes > 0)
                                            {
                                                <small class="downCount">@Model.Downvotes</small>
                                            }
                                            else
                                            {
                                                <small class="downCount"></small>
                                            }
                                        }
                                        else if (!Model.Attributes.Vote.Value)
                                        {
                                            <a onclick="entryAttribute.voteUP(@Model.ID)" class="upvoted"><i class="fas fa-chevron-up"></i></a>
                                            if (Model.Upvotes > 0)
                                            {
                                                <small class="upCount">@Model.Upvotes</small>
                                            }
                                            else
                                            {
                                                <small class="upCount"></small>
                                            }
                                            <a onclick="entryAttribute.voteDOWN(@Model.ID)" class="downvoted active"><i class="fas fa-chevron-down"></i></a>
                                            if (Model.Downvotes > 0)
                                            {
                                                <small class="downCount">@Model.Downvotes</small>
                                            }
                                            else
                                            {
                                                <small class="downCount"></small>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <a onclick="entryAttribute.voteUP(@Model.ID)" class="upvoted"><i class="fas fa-chevron-up"></i></a>
                                        if (Model.Upvotes > 0)
                                        {
                                            <small class="upCount">@Model.Upvotes</small>
                                        }
                                        else
                                        {
                                            <small class="upCount"></small>
                                        }
                                        <a onclick="entryAttribute.voteDOWN(@Model.ID)" class="downvoted"><i class="fas fa-chevron-down"></i></a>
                                        if (Model.Downvotes > 0)
                                        {
                                            <small class="downCount">@Model.Downvotes</small>
                                        }
                                        else
                                        {
                                            <small class="downCount"></small>
                                        }
                                    }
                                    if (Model.Attributes.Favourite.HasValue)
                                    {
                                        <a onclick="entryAttribute.fav(@Model.ID)" class="fav active"><i class="fas fa-heart"></i></a>
                                        if (Model.Favourites > 0)
                                        {
                                            <small class="favCount">@Model.Favourites</small>
                                        }
                                        else
                                        {
                                            <small class="favCount"></small>
                                        }
                                    }
                                    else
                                    {
                                        <a onclick="entryAttribute.fav(@Model.ID)" class="fav"><i class="fas fa-heart"></i></a>
                                        if (Model.Favourites > 0)
                                        {
                                            <small class="favCount">@Model.Favourites</small>
                                        }
                                        else
                                        {
                                            <small class="favCount"></small>
                                        }
                                    }
                                }
                                else
                                {
                                    <a onclick="entryAttribute.voteUP(@Model.ID)" class="upvoted"><i class="fas fa-chevron-up"></i></a>
                                    if (Model.Upvotes > 0)
                                    {
                                        <small class="upCount">@Model.Upvotes</small>
                                    }
                                    else
                                    {
                                        <small class="upCount"></small>
                                    }
                                    <a onclick="entryAttribute.voteDOWN(@Model.ID)" class="downvoted"><i class="fas fa-chevron-down"></i></a>
                                    if (Model.Downvotes > 0)
                                    {
                                        <small class="downCount">@Model.Downvotes</small>
                                    }
                                    else
                                    {
                                        <small class="downCount"></small>
                                    }
                                    <a onclick="entryAttribute.fav(@Model.ID)" class="fav"><i class="fas fa-heart"></i></a>
                                    if (Model.Favourites > 0)
                                    {
                                        <small class="favCount">@Model.Favourites</small>
                                    }
                                    else
                                    {
                                        <small class="favCount"></small>
                                    }
                                }
                            }
                            else
                            {
                                if (Model.Attributes != null)
                                {
                                    if (Model.Attributes.Vote.HasValue)
                                    {
                                        if (Model.Attributes.Vote.Value)
                                        {
                                            <a class="upvoted"><i class="fas fa-chevron-up"></i></a>
                                            if (Model.Upvotes > 0)
                                            {
                                                <small class="upCount">@Model.Upvotes</small>
                                            }
                                            else
                                            {
                                                <small class="upCount"></small>
                                            }
                                            <a class="downvoted"><i class="fas fa-chevron-down"></i></a>
                                            if (Model.Downvotes > 0)
                                            {
                                                <small class="downCount">@Model.Downvotes</small>
                                            }
                                            else
                                            {
                                                <small class="downCount"></small>
                                            }
                                        }
                                        else if (!Model.Attributes.Vote.Value)
                                        {
                                            <a class="upvoted"><i class="fas fa-chevron-up"></i></a>
                                            if (Model.Upvotes > 0)
                                            {
                                                <small class="upCount">@Model.Upvotes</small>
                                            }
                                            else
                                            {
                                                <small class="upCount"></small>
                                            }
                                            <a class="downvoted"><i class="fas fa-chevron-down"></i></a>
                                            if (Model.Downvotes > 0)
                                            {
                                                <small class="downCount">@Model.Downvotes</small>
                                            }
                                            else
                                            {
                                                <small class="downCount"></small>
                                            }
                                        }
                                        if (Model.Attributes.Favourite.HasValue)
                                        {
                                            <a class="fav"><i class="fas fa-heart"></i></a>
                                            if (Model.Favourites > 0)
                                            {
                                                <small class="favCount">@Model.Favourites</small>
                                            }
                                            else
                                            {
                                                <small class="favCount"></small>
                                            }
                                        }
                                        else
                                        {
                                            <a class="fav"><i class="fas fa-heart"></i></a>
                                            if (Model.Favourites > 0)
                                            {
                                                <small class="favCount">@Model.Favourites</small>
                                            }
                                            else
                                            {
                                                <small class="favCount"></small>
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    </div>
                    <div class="info">
                        <div class="author">
                            <a href="/u/@CustomTagHelpers.FriendlyURLTitle(Model.Author)">@Model.Author</a>
                        </div>
                        <div class="link">
                            @if (User != null)
                            {
                                @if (@Model.UserID == User.ID)
                                {
                                    <a href="/edit/entry/@Model.ID"><small>edit</small></a>
                                    <a href="javascript:void(0)" onclick="entries.archiveView(@Model.ID)"><small>archive</small></a>
                                }
                                else
                                {
                                    <a href="javascript:void(0);" onclick="replyEditor.replyWith(@Model.ID, @Model.UserID)"><small>message</small></a>
                                    <a href="/report/@Model.ID"><small>report</small></a>
                                }
                            }
                            <a href="/entry/@Model.ID">
                                <small>
                                    @Model.Date.ToString("dd.MM.yyyy HH:mm") @if (@Model.EditDate != null)
                                    {<text>~ </text>@Model.EditDate?.ToString("dd.MM.yyyy HH:mm")}
                                </small>
                            </a>
                        </div>
                    </div>
                </footer>
            </li>
        </ul>
    </div>
</div>