@model definer.Models.UserViewModel
@{
    ViewData["Title"] = "register";
}

<div class="account-container">
    <div class="register">
        <h2>new user</h2>
        <form action="/account/register" autocomplete="off" method="post" class="account-form">
            @Html.AntiForgeryToken()
            <label for="Username">username</label>
            @Html.TextBoxFor(m => m.Username)
            @Html.ValidationMessageFor(m => m.Username)
            <label for="Mail">email</label>
            @Html.TextBoxFor(m => m.Mail)
            @Html.ValidationMessageFor(m => m.Mail)
            <label for="Password">password</label>
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
            <small>at least 8 characters, 1 uppercase letter, 1 lowercase letter, and 1 number</small>
            <label for="confirmPassword">confirm password</label>
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
            <button type="submit">register</button>
        </form>
    </div>
</div>
@section Js {
<script type="text/javascript" src=~/Content/lib/validate/jquery.validate.min.js></script>
<script type="text/javascript" src=~/Content/lib/validate/jquery.validate.unobtrusive.js></script>
}